.card {
    overflow-wrap: normal;
    box-shadow: grey 0 0 10px;
    max-width: 500px;
    max-height: 570px;
    margin: 30px auto 30px auto
}

.cards-preview {
    width: 500px;
    height: 310px;
}

.text-box {
    margin: 0 15px 20px 15px;
    min-height: 150px;
}

.main-theme {
    font-weight: 600;
    font-size: 20px;
}

.main-text {
    font-size: 16px;
}

.button-next {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: #BEA989;
    font-size: 18px;
    margin: 0 20px 20px 360px;
    transition-duration: 0.5s;
}

.button-next:hover {
    background-color: #2B2B2B;
    color: #FFFFFF;
}
